{% extends 'base.html' %}

{% block cssjs_files %}
<link href="{{MEDIA_URL}}css/about_us.css" rel="stylesheet" type="text/css">
    <script src="{{MEDIA_URL}}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>

{% endblock %}



{% block main %}
<div class="main">
    <div class="every_page_pic">
        <img src="{{MEDIA_URL}}images/every_page_pic.png" alt="every_page_pic"/>
    </div>
    <div class="mainSpliter"></div>
    <div class="context">
        <div class="part_left">
            <div class="desc">
                <p class="title">公司<span class="red">简介</span></p>
                <p class="text">
                    郑州蝴蝶山食品有限公司是一家从事挂面，面叶生产和销售的企业。公司位于优质小麦产区和中国挂面工业发源地--荥阳，优越的地理位置给优质产品的生产提供了保障。
                </p>
                <p class="text">
                    三十年来企业以生产高品质挂面和倡导健康的饮食为己任，在挂面生产上严格把关。选用黄河流域天然小麦粉，从源头上保证了食品的营养和安全。在生产过程中做到全程监控，保障了产品的质量。自成立至今，本公司积极进行营养配方、生产工艺和包装工艺的改进和提升，最大程度了保留了面制品的营养和口感。近年来又针对河南风俗开发了“蝴蝶山喜面”，获得了消费者的一致好评。
                </p>
                <p class="text">
                    经过了多年的努力，蝴蝶山品牌已经深入千家万户，成为广大消费者放心的品牌。展望未来，面对新形势、新任务，摆在十公司面前的工作仍然艰巨而繁重。蝴蝶山人将以昂扬的斗志、整齐的步伐，走向更加璀璨辉煌的明天！
                </p><!--text end-->
            </div><!--desc end-->
            <img class="img" src="{{MEDIA_URL}}images/target.jpg" alt="img"/>
        </div><!--part_left end-->
        <div class="part_right">
            <img class="img" src="{{MEDIA_URL}}images/industry.gif" alt="img"/>
            <div class="desc">
                <p class="title">企业<span class="red">文化</span></p>
                <p class="text">
                    诚信经营，不弄虚作假，把消费者视为为上帝。
                    重视产品质量，严控原料来源，保证产品质量。
                    加大产品研发，提升制造工艺， 做到零缺陷。
                    加强生产责任，严控生产流程，提升产品质量。
                    改进营养配方，倡导健康饮食，提升满意度。
                </p><!--text end-->
                <p class="text">
                    核心价值： 诚信第一、勤劳奉献、以人为本、开拓创新
                    企业精神： 博大精深、胸怀寰宇、追求完美、意向永远
                    发展理念： 以人为本、科技领先、与时俱进、开拓创新
                    经营理念： 倡导环保、服务社会
                    管理理念： 崇高责任、崇高竞争、追求品质、追求高效
                    服务宗旨： 博大面业，面面俱到
                    质量方针： 细配精制、品质领先、追求卓越、顾客满意
                    质量承诺： 客户满意度100%
                    品质理念： 一次做对，缺陷为零，实实在在的品质
                </p><!--text end-->
            </div><!--desc end-->
        </div><!--part_right end-->
    </div><!--content end-->
    <div class="mainSpliter"></div>
</div><!--main end-->
{% endblock %}